
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digitaleafs | Home Page by Shivani Negi</title>
    <link rel="stylesheet" href="../content/css/digitaleafs.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css">
</head>

<body>
    <div class="preloader">
        <div class="load-icon">
            <img src="../content/img/digitaleafs.gif">
        </div>
    </div>
    
<header>
  <div class="header-posi">
  <div class="max-width-header">
      <div class="logo">
          <img src="../content/img/logo.png">
      </div>
      <div class="menu">
          <ul>
              <li><a href="../views/index.html">Home</a></li>
              <li><a href="../views/whydigitaleafs.html">Why Digital Leafs?</a></li>
              <li><a href="../views/pricing.html">Princing</a></li>
              <li><a href="../views/contact.html">Contact Us</a></li>
              <li><a href="../views/demo.html">Demo</a></li>
              <li class="menu-basic-all menu-btn-login">
                  <a href="../views/sign.html">Sign In</a>
              </li>
          </ul>
      </div>
  </div>
  </div>
</header>
    <div class="banner">
        <div class="banner-text">
            <h1>Digital Business Cards for any industry.</h1>
            <p>Digitaleaf's provides you a platform to create and design a simple,amazing and attractive digital card of
                your choice in no time.!</p>
        </div>
    </div>
    <section>
        <div class="section-how-it-works">
            <div class="container">
                <div class="row">
            <div class="how-it-works-title">
                <h1>How it works</h1>
                <p>Meet. Connect. Nurture.</p>
            </div>
                
            <div class="how-its-work">
                <div class="how-its-work-box">
                    <img src="../content/img/how-its-work-1.png">
                    <h2>sign up</h2>
                    <p>Create your account on digitaleafs by inserting some basis required details.</p>
                </div>
                <div class="how-its-work-box">
                    <img src="../content/img/how-its-work-2.png">
                    <h2>Create Your Card</h2>
                    <p>By using your innovative skills.you can add URL's/links of their business pages and social
                        media.you can garnish digital visiting card with video & Images.</p>
                </div>
                <div class="how-its-work-box">
                    <img src="../content/img/how-its-work-3.png">
                    <h2>Share Your Card</h2>
                    <p>Sharing a digital business card with anyone in no time proves to be very fruitful. because you
                        can share it with a unique URL/link on Whatsapp, email, message, Facebook, Instagram, LinkedIn
                        etc.</p>
                </div>
                <div class="how-its-work-box">
                    <img src="../content/img/how-its-work-4.png">
                    <h2>Follow-Up</h2>
                    <p>In this digital world; its easy & time saving to plan virtual business mettings for your further
                        deals.</p>
            </div>
            </div>
        </div>
    </section>

    <div class="tutorial">
        <div class="container">
            <div class="row">
            <div class="col-md-5">
                <div class="inner-tutorial-img-wrp">
                    <img src="../content/img/home-add-video-image.png" width="100%">
                </div>
        </div>
        <div class="col-md-7">
            <div class="tutorial-text-wrp">
                <h3>Add video & Cover picture with logo to your Digital Business Card</h3>
                <p>Video,cover picture & logo in your digital business card helps other person to understand about ypur
                    services and product by just having a look at it.</p>
                <p>It creates an everlasting impression on people's minds.It also saves time for reading the content.
                    because one prefers to watch videos and images over reading.</p>
            </div>
        </div>
    </div>
        </div>
    </div>
    </div>
    <div class="post">
        <div class="container">
        <div class="post-process">
            <div class="post-posted">
                <img src="../content/img/home-get-leads.png" width="100%">
            </div>
            <div class="post-info">
                <h4>Lead Traffic & Export Lead</h4>
                <p>Leading in traffic is one of the powerful aspects of a digital business card. Today everyone becomes
                    digital and wants everything to be digital. Which can be done in just one click.</p>
                <p>One well build URL can drive all the traffic on your social media, website and anywhere on digital
                    platform.</p>
            </div>
        </div>
        </div>
    </div>
    <div class="id-info">
        <div class="container">
            <div class="row">
            <div class="col-md-5">
            <div class="id-info-img">
                <img src="../content/img/home-share-uniq-id.png" width="100%">
            </div>
        </div>
        <div class="col-md-7">
            <div class="id-info-text">
                <h4>Share your unique card URL</h4>
                <p>You can share your digital card with a unique URL.</p>
                <p>Open your card & click on share button.Then choose how you want to send the URL.Insert one's
                    email,mobile no.Then click on send.</p>
            </div>
        </div>
    </div>
        </div>
    </div>
    </div>
    <div class="digital">
        <div class="digital-card">
            <div class="digital-card-img">
                <img src="../content/img/digital-card-img.png">
            </div>
            <div class="digital-card-text">
                <h5>Making the switch to digital cards.</h5>
                <p>So, you’re ready to give paper the flick?</p>
                <p>Let’s be honest, changing a habit can be challenging.</p>
                <p>Paper business cards have been engrained in our business relationships since the 17th century.</p>
                <p>They’re older than the calculator. Switching to digital cards comes with a suite of benefits once we
                    rethink the way we connect with people.</p>
                <p>Today, we’re living in a mobile-first, digital-first age where printing email addresses on a piece of
                    paper is counter-intuitive. Making the switch means more time nurturing relationships and less time
                    searching for paper cards at the bottom of your bag.</p>
            </div>
        </div>
    </div>
    <div class="features">
        <div class="popular-features">
            <h6>Popular Features</h6>
        </div>
        <div class="feature-explorer">
            <div class="explored-ones">
                <img src="../content/img/features-icon-1.png">
                <p>Video Integration</p>
            </div>
            <div class="explored-ones">
                <img src="../content/img/features-icon-2.png">
                <p>CRM Integration</p>
            </div>
            <div class="explored-ones">
                <img src="../content/img/features-icon-3.png">
                <p>Custom Branding</p>
            </div>
            <div class="explored-ones">
                <img src="../content/img/features-icon-4.png">
                <p>User Web Portal</p>
            </div>
            <div class="explored-ones">
                <img src="../content/img/features-icon-5.png">
                <p>File Attachment</p>
            </div>
            <div class="explored-ones">
                <img src="../content/img/features-icon-6.png">
                <p>Multiple Phone, Web URLs</p>
            </div>
        </div>
    </div>
  
    <footer>
        <div class="footer-info">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="footer-info-presentation">
                            <div class="left_img_wrap">
                                <img src="../content/img/logo-footer-digital-leaf.png">
                                <p>is part of</p>
                                <img src="../content/img/digital-web-developers.png">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="footer-info-presentation">
                            <h4>Learn More</h4>
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">About Us</a>
                                </li>
                                <li>
                                    <a href="../views/whydigitaleafs.html">Why Digital Leafs?</a>
                                </li>
                                <li>
                                    <a href="../views/pricing.html">Pricing</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Videos</a>
                                </li>
                                <li>
                                    <a href="../views/contact.html">Contact</a>
                                </li>
                                <li>
                                    <a href="../views/sign.html">Sign in</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="footer-info-presentation">
                            <h4>Connect</h4>
                            <ul>
                                <li>
                                    <a href="#">Twitter</a>
                                </li>
                                <li>
                                    <a href="#">Facebook</a>
                                </li>
                                <li>
                                    <a href="#">Instagram</a>
                                </li>
                                <li>
                                    <a href="#">Linkedin</a>
                                </li>
                                <li>
                                    <a href="#">YouTube</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="footer-info-presentation">
                            <img src="../content/img/badge-light.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="last-footer">
            <div class="last-footer-info">
                <p>© 2020 Digital Leafs, All rights reserved.</p>
            </div>
              <div class="col-12 text-center">
                            <ul>
                                <li>
                                    <a href="#">Terms of Service</a>
                                </li>
                                <li>
                                    <a href="#">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="#">Shipping Policy</a>
                                </li>
                                <li>
                                    <a href="#">Refund, Return & Cancellation Policy</a>
                                </li>
                                <li>
                                    <a href="#">Dispute Resolution</a>
                                </li>
                            </ul>
                        </div>
                    </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(window).on("load", function () {
            $(".load-icon").fadeOut();
            $(".preloader").delay(350).fadeOut("slow");
            $("body").delay(350).css({
                "overflow": "visible"
            });
        });
        </script>
        <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script>
            $(window).scroll(function () {
                          var sticky = $('.header-posi'),
            scroll = $(window).scrollTop();

                          if (scroll >= 100) {
                sticky.addClass('active')
            }
            else {
                sticky.removeClass('active');
                          }
                        });
    </script>


</body>

</html>